.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav > * {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  align-items: flex-end;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-nav-item {
  padding: 8px;
  padding-left: 20px;
  font-family: "Karla";
  color: black;
  font-weight: bolder;
  font-size: 10pt;
  flex-wrap: nowrap;
  margin-left: 24px;
}

.footer-nav-item:link {
  color: black;
  text-decoration: none;
}

.footer-nav-item:visited {
  color: black;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer-nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: end;
  }
  .contact {
    flex-direction: row;
    justify-content: center;
    align-items: end;  
  }
}
