
.hero-background {
  display: flex;
  background-color: #495E57;
  top: 80px;
  height: max-content;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hero-section-image {
  margin-bottom: -100px;
  margin-top: 50px;
  margin-right: 50px;
  width: 400px;
  height: 500px;
  background-image: url("../assets/restauranfood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  border-radius: 24px;
}

.hero-section {
  width: 40%;
  margin: 25px;
}

.hero-title1 {
  color: #f4CE14;
  font-family: "markazi-text";
  font-size: 64pt;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-title2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #EDEFEE;
  font-family: "markazi-text";
  font-size: 40pt;
  font-weight: 500;
}

.hero-desc {
  color: #EDEFEE;
  font-family: "Karla";
  font-weight: 700;
  font-size: 18pt;

}

#hero-button {
  margin-left: 0;
}

.button {
  font-family: "Karla";
  font-weight: bold;
  font-size: 16pt;
  width: auto;
  margin: 0px;
  background-color: #f4CE14;
  padding: 10px;
  border-radius: 8px;
}

.button:active {
  background-color: black;
  color: #EDEFEE;
}

@media (max-width: 707px) {
  .hero-section-image {
    visibility: hidden;
  }
}