.Reservation {
  font-family: "Karla";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/restaurant.jpg");
  background-repeat: no-repeat;
  height: fit-content;
}

.book-header {
  font-family: "Markazi-text";
  padding-left: 10vw;
  font-size: 40pt;
  font-weight: 400;
  color: #f4CE14;
  padding: 0px;
  margin-bottom: -10px;
}

.booking-form {
  background-color: #495E57;
  display: grid;
  gap: 20px;
  justify-content: center;
  color: #EDEFEE;
  font-size: 18pt;
  padding: 50px;
  padding-top: 0px;
  border-radius: 2em;
  width: fit-content;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.form-input-field {
  font-size: 20pt;
}

.button {
  font-family: "Karla";
  font-weight: bold;
  font-size: 16pt;
  width: auto;
  margin: 2vh;
  background-color: #f4CE14;
  padding: 10px;
  border-radius: 8px;
}

.button:active {
  background-color: black;
  color: #EDEFEE;
}